body {
    min-width: 1200px;

    font-size: 16px;
    line-height: 22px;
    font-family: 'Roboto', Arial, sans-serif;
    color: #ffffff;

    background-color: #849d8f;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    -webkit-clip-path: inset(100%);

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1146px;
    margin: 0 auto;
    padding: 0 27px;
}

.button {
    display: inline-block;
    padding: 11px 0;

    font-size: 18px;
    line-height: 24px;
    font: inherit;
    color: inherit;
    font-weight: bold;
    text-align: center;
    text-decoration: none;

    border: none;
    border-radius: 30px;
    background: linear-gradient(to top, #e74a35, #f26843);

    box-shadow: 0 1px 2px #ac1000;

    cursor: pointer;
}

.button:hover {
    background: linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
        linear-gradient(to top, #e74a35, #f26843);

    box-shadow: 0 2px 2px #ac1000;
}

.button:active {
    background: rgba(255, 255, 255, 1);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.07), rgba(255, 255, 255, 0.2)),
        linear-gradient(to top, #e74a35, #f26843);

    box-shadow: inset 0 2px 2px #ac1000;
}

.button:focus {
    outline: none;
}

.main-header {
    min-height: 647px;
}

.header-top {
    position: relative;

    display: flex;
    align-items: center;
    padding-top: 9px;
}

.main-logo {
    width: 154px;
    height: 64px;
}

.main-logo img {
    width: 154px;
    height: 64px;
}

.main-navigation {
    position: relative;

    width: 432px;
    margin-left: 10px;
}

.dropdown-menu:hover .main-menu-catalog {
    display: block;
}

.menu-item {
    display: inline-block;
    margin-left: -3px;
    padding-bottom: 5px;
}

.menu-item:last-child {
    padding-right: 0;
}

.menu-item>a {
    display: block;
    padding: 8px 14px 5px 13px;

    line-height: 18px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;

    border-radius: 15px;
}

.menu-item:hover>a {
    color: #000000;

    background-color: #f7f6f3;
}

.menu-item>a:active {
    color: #000000;

    background-color: #f7f6f3;

    box-shadow: inset 0 2px 1px rgba(105, 105, 105, 1);
}

.menu-item.active>a,
.menu-item.active>a:hover {
    color: #ffffff;

    background-color: #d07058;
}

.menu-item.active>a:active {
    box-shadow: none;
}

.menu-item.active span {
    border: none;
}

.menu-item span {
    display: block;
    margin-bottom: 2px;

    line-height: 16px;

    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-menu-catalog {
    position: absolute;
    top: 37px;
    left: -5px;
    z-index: 1;

    display: none;
    width: 142px;

    background-color: #f8f7f4;
    border-radius: 3px;

    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.main-menu-catalog-item {
    margin-bottom: 5px;
}

.main-menu-catalog-item:first-child {
    margin: 0 9px 3px 6px;

    border-bottom: 1px solid #d1d0ce;
}

.main-menu-catalog-item:nth-child(2) {
    margin-bottom: 2px;
}

.main-menu-catalog-item a {
    display: block;
    padding: 6px 0 6px 15px;

    font-size: 14px;
    line-height: 16px;
    color: #323232;
    text-decoration: none;
}

.main-menu-catalog-item:first-child a {
    padding: 11px 0 11px 9px;

    font-weight: bold;
}

.main-menu-catalog-item:nth-child(n + 2) a:hover {
    background-color: #fbded7;
}

.main-menu-catalog-item:nth-child(n + 2) a:active {
    background-color: #f6b5a5;
}

.main-menu-catalog-item.active:nth-child(n + 2),
.main-menu-catalog-item.active:nth-child(n + 2) a:hover,
.main-menu-catalog-item:nth-child(n + 2) a:active {
    background-color: #d07058;
}

.header-search {
    position: relative;
    margin-left: 299px;
    padding-bottom: 5px;
}

.header-search:hover .header-search-form {
    display: block;
}

.header-search-wrap {
    width: 33px;
    height: 33px;

    background-color: rgba(248, 247, 244, 0.2);
    border-radius: 50%;

    cursor: pointer;
}

.header-search-button {
    position: relative;
    top: 8px;
    left: 8px;

    display: block;
    width: 17px;
    height: 17px;
    padding: 0;

    background-color: transparent;
    border: none;

    cursor: pointer;
}

.header-search-button svg {
    width: 17px;
    height: 17px;

    fill: #ffffff;
}

.header-search-wrap:hover,
.header-search:hover .header-search-wrap {
    background-color: rgba(248, 247, 244, 1);
}

.header-search-wrap:hover svg,
.header-search:hover svg {
    fill: #000000;
}

.header-search-form {
    position: absolute;
    top: 38px;
    right: 0;
    z-index: 1;

    display: none;
    width: 341px;
    height: 84px;
    padding: 20px 15px;

    box-sizing: border-box;

    background-color: #f8f7f4;
    border-radius: 5px;
}

.header-search-form input,
.login-form input {
    width: 311px;
    padding: 9px 5px 9px 14px;

    box-sizing: border-box;
    font-size: 14px;
    line-height: 24px;
    color: #999999;

    border: 1px solid #d3d3d2;
    border-radius: 5px;
}

.header-search-form input::placeholder,
.login-form input::placeholder {
    font-size: 14px;
    line-height: 24px;
    color: #999999;
}

.header-search-form input:focus,
.login-form input:focus {
    outline: none;
}

.login,
.header-cart {
    position: relative;

    width: 92px;
    margin-left: 10px;
    padding-bottom: 5px;
}

.login:hover .login-form {
    display: block;
}

.login-button-wrap {
    position: relative;
}

.login-button-wrap svg {
    position: absolute;
    top: 6px;
    left: 16px;

    width: 21px;
    height: 19px;

    fill: #ffffff;
}

.login-button,
.header-cart-button {
    display: block;
    padding: 8px 16px 8px 44px;

    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;

    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
}

.login-button:hover,
.login-button-wrap:hover .login-button,
.login:hover .login-button,
.header-cart-button:hover,
.header-cart:hover .header-cart-button {
    color: #323232;

    background-color: rgba(248, 247, 244, 1);
}

.login-button-wrap:hover svg,
.login:hover svg {
    fill: #000000;

    cursor: pointer;
}

.login-form {
    position: absolute;
    top: 38px;
    right: 0;
    z-index: 1;

    display: none;
    box-sizing: border-box;
    width: 277px;
    height: 214px;
    padding: 20px 19px;

    background-color: #f8f7f4;
    border-radius: 5px;
}

.login-form input {
    width: 239px;
    margin-bottom: 20px;
}

.login-menu-submit {
    display: flex;
    align-items: center;
}

.login-form-button {
    width: 102px;
}

.login-menu-options {
    width: 125px;
    margin-left: 19px;
}

.login-menu-option a {
    display: block;

    font-size: 13px;
    line-height: 24px;
    color: #323232;
}

.login-menu-option a:hover {
    color: #e84d37;
}

.login-menu-option a:active {
    color: #e84d37;
}

.header-cart {
    width: 117px;
}

.header-cart:hover .header-cart-goods {
    display: block;
}

.header-cart-button {
    position: relative;
}

.header-cart-button::before {
    content: "";

    position: absolute;
    top: 6px;
    left: 16px;

    width: 21px;
    height: 21px;

    background: url("../img/cart-icon.svg") center no-repeat;
}

.header-cart-button:hover::before,
.header-cart:hover .header-cart-button::before {
    background: url("../img/cart-icon-active.svg") center no-repeat;
}

.header-cart-goods {
    position: absolute;
    top: 38px;
    right: 0;
    z-index: 1;

    display: none;
    width: 540px;
    height: 242px;
    padding: 20px 15px;

    box-sizing: border-box;

    background-color: #f8f7f4;
    border-radius: 5px;
}

.cart-goods-table {
    width: 510px;
    margin: 8px 0 14px 0;

    border: none;
    border-collapse: collapse;
}

.cart-goods-row:first-child>td {
    padding-bottom: 36px;
}

.cart-goods-row:last-child>td {
    padding-bottom: 18px;

    border-bottom: 1px solid #cacac7;
}

.cart-goods-table td {
    padding: 0;

    font-size: 13px;
    line-height: 16px;
    color: #323232;
}

.cart-goods-table .table-goods-name {
    position: relative;

    width: 294px;
    padding-left: 61px;
}

.cart-goods-row:first-child .table-goods-name::before {
    content: "";

    position: absolute;
    top: -6px;
    left: 9px;

    width: 33px;
    height: 33px;

    background: url("../img/cart-goods-1.png") center no-repeat;
}

.cart-goods-row:last-child .table-goods-name::before {
    content: "";

    position: absolute;
    top: -6px;
    left: 9px;

    width: 33px;
    height: 33px;

    background: url("../img/cart-goods-2.png") center no-repeat;
}

.table-goods-price {
    width: 120px;

    text-align: center;
    vertical-align: top;
}

.table-goods-price-total {
    width: 84px;

    text-align: center;
    vertical-align: top;
}

.cart-close-button {
    position: relative;

    width: 11px;
    height: 11px;
    padding: 0;

    background-color: transparent;
    border: none;

    cursor: pointer;
}

.cart-close-button::before,
.cart-close-button::after {
    content: "";

    position: absolute;
    top: 5px;
    left: 0;

    width: 11px;
    height: 2px;

    background-color: #323232;

    transform: rotate(-45deg);
}

.cart-close-button::after {
    transform: rotate(45deg);
}

.cart-goods-sum {
    display: block;
    margin-bottom: 14px;

    font-size: 15px;
    line-height: 18px;
    color: #323232;
    text-align: right;

}

.button-order {
    display: block;
    width: 172px;
    margin-left: auto;
}

.site-info {
    position: absolute;
    top: 69px;
    right: 0;

    width: 170px;

    text-align: right;
}

.work-hours {
    display: block;
    padding-bottom: 6px;

    font-size: 14px;
    line-height: 16px;
}

.contact-telephone {
    display: block;

    font-size: 22px;
    line-height: 24px;
}

.header-promo {
    position: relative;
}

.slider {
    display: block;
}

.slider-2 {
    display: none;
}

.slider-3 {
    display: none;
}

.slider-title {
    max-width: 670px;
    margin: 0 auto;
    padding-top: 321px;
    padding-bottom: 29px;

    font-size: 60px;
    line-height: 60px;
}

.slider-logo {
    position: absolute;
    top: -73px;
    left: 50px;
    z-index: -1;
}

.slider-1 .slider-logo {
    top: -73px;
    left: 50px;
}

.slider-2 .slider-logo {
    top: -73px;
    left: 20px;
}

.slider-3 .slider-logo {
    top: -73px;
    left: 25px;
}

.slider-1 img {
    width: 1045px;
    height: 881px;
}

.slider-2 img {
    width: 1065px;
    height: 859px;
}

.slider-3 img {
    width: 1079px;
    height: 854px;
}

.slider-button {
    display: block;
    width: 280px;
    margin: 0 auto;

    font-size: 32px;
    line-height: 44px;
}

.slider-switches {
    position: absolute;
    bottom: 24px;
    left: 0;
}

.switches-list {
    display: block;
    width: 79px;
    height: 21px;
}

.switch {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 4px;

    border: 3px solid #ffffff;
    border-radius: 50%;

    cursor: pointer;
}

.switch:last-child {
    margin-right: 0;
}

.switch.active,
.switch.active:hover {
    background-color: #ffffff;
}

.switch:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.bonuses-list {}

.bonus {
    display: inline-block;
    width: 520px;
    padding: 20px;

    border-radius: 10px;
}

.bonus:first-child {
    margin-right: 22px;

    background: url("../img/bonus-bg-1.jpg") center no-repeat;
}

.bonus:last-child {
    background: url("../img/bonus-bg-2.jpg") center no-repeat;
}

.bonus-title {
    font-size: 35px;
    line-height: 41px;

    padding-bottom: 15px;
}

.bonus-description {
    max-width: 514px;

    font-size: 18px;
    font-weight: bold;

    padding-bottom: 45px;
}

.bonus-button {
    display: block;
    width: 165px;
    margin-left: auto;
}