body {
    min-width: 1200px;

    font-size: 16px;
    line-height: 22px;
    font-family: 'Roboto', Arial, sans-serif;
    color: #ffffff;

    background-color: #849d8f;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    -webkit-clip-path: inset(100%);

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1146px;
    margin: 0 auto;
    padding: 0 27px;
}

.header-top {
    position: relative;

    display: flex;
    align-items: center;
    padding-top: 9px;
}

.main-logo {
    width: 154px;
    height: 64px;
}

.main-logo img {
    width: 154px;
    height: 64px;
}

.main-navigation {
    position: relative;

    width: 432px;
    margin-left: 10px;
}

.dropdown-menu:hover .main-menu-catalog,
.main-menu-catalog:hover {
    display: block;
}

.menu-item {
    display: inline-block;
    margin-left: -3px;
    padding-bottom: 5px;
}

.menu-item:last-child {
    padding-right: 0;
}

.menu-item>a {
    display: block;
    padding: 8px 14px 5px 13px;

    line-height: 18px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

.menu-item>a:hover {
    color: #000000;

    background-color: #f7f6f3;
    border-radius: 15px;
}

.menu-item>a:active {
    color: #000000;

    background-color: #f7f6f3;
    border-radius: 15px;

    box-shadow: inset 0 2px 1px rgba(105, 105, 105, 1);
}

.menu-item.active>a,
.menu-item.active>a:hover {
    color: #ffffff;

    background-color: #d07058;
    border-radius: 15px;
}

.menu-item.active>a:active {
    box-shadow: none;
}

.menu-item.active span {
    border: none;
}

.menu-item span {
    display: block;
    margin-bottom: 2px;

    line-height: 16px;

    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-menu-catalog {
    position: absolute;
    top: 37px;
    left: -5px;

    display: none;
    width: 142px;

    background-color: #f8f7f4;
    border-radius: 3px;

    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.main-menu-catalog-item {
    margin-bottom: 5px;
}

.main-menu-catalog-item:first-child {
    margin: 0 9px 3px 6px;

    border-bottom: 1px solid #d1d0ce;
}

.main-menu-catalog-item:nth-child(2) {
    margin-bottom: 2px;
}

.main-menu-catalog-item a {
    display: block;
    padding: 6px 0 6px 15px;

    font-size: 14px;
    line-height: 16px;
    color: #323232;
    text-decoration: none;
}

.main-menu-catalog-item:first-child a {
    padding: 11px 0 11px 9px;

    font-weight: bold;
}

.main-menu-catalog-item:nth-child(n + 2) a:hover {
    background-color: #fbded7;
}

.main-menu-catalog-item:nth-child(n + 2) a:active {
    background-color: #f6b5a5;
}

.main-menu-catalog-item.active:nth-child(n + 2),
.main-menu-catalog-item.active:nth-child(n + 2) a:hover,
.main-menu-catalog-item:nth-child(n + 2) a:active {
    background-color: #d07058;
}








.site-info {
    position: absolute;
    top: 150px;
    right: 0;
}